*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
	color: #5D6D7E;
}
nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 15px 0;
	font-size: 20px;
}
ul a{
	text-decoration: none;
	color: white;
}

ul li{
	list-style: none;
}
.hover:hover{
	color: #33F6FF;
}
nav{
	background-color: black;
}
.logo{
	width: 17%
}
.container,.video{
	width: 100%;
}
.video{
	margin: 0 0 20px;
}
.left-col{
    float: left;
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 2%;
    text-align: justify;
    font-weight: lighter;
    color: #5D6D7E;
}
.sidebar{
    float: left;
    width: 25%;
    margin: 0 auto;
    height: 95px;
}
.clearfix-padding {
    clear: both;
    padding: 1%;
}
hr{
    margin: 25px;
}

.zoom:hover,.box-second ul li:hover{
	-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}
.box-firt{
	margin: 0px;
	float: left;
}
.box-second{
	margin: 25px 0;
	width: 54%;	
	float:left;
	text-align: center;
}
.box-second ul{
	display: flex;
	align-items: center;
}
.box-second a{
	color: #5D6D7E;
}
.box-second img{
	width: 28%;
	display: block;
	margin: 0 auto;
}
.box-second p{
	margin-top: 5px; 
}
.dronrace img{
	width: 100%;
}

.tarjeta{
	background-color: white;
	text-align: center;
	position: absolute;
	width: 30%;
	margin: 100px 100px 0;
	padding: 30px 20px 40px 20px;
	box-shadow: 0px 0px 5px 1px rgb(66, 64, 64);
	z-index: 100;
}

.tarjeta h2{
	padding: 20px;
}
.carreras{
	overflow: hidden;
}
.carreras img:hover{
	-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}
.avance{
	width: 70%;
	text-align: justify;
	margin: 0 auto;
}
.delivery{
    position: relative;
}
.entrega:hover{
    color: #33F6FF;
}
.entrega{
	text-decoration: none;
	position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: bold;
    font-size: 35px;
    z-index: 5;
    color: white;
}
.delivery{
	overflow: hidden;
	height: 200px
}
.delivery img:hover{
	-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}
.final1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #AAB7B8;
    padding: 10px;
    text-decoration: none;
    pointer-events: none;
    list-style: none;
} 
.final1 img{
    width: 40%;
}
.final{
    text-align: center;
    background-color: #99A3A4;
    }